body {
  background: rgb(4,151,79) !important;
  background: linear-gradient(0deg, rgba(4,151,79,1) 0%, rgba(0,140,135,1) 45%, rgba(0,53,51,1) 81%, rgba(0,0,0,1) 100%);
  margin: 0;
  width: 100% !important;
  height: 100% !important;
}