<div class="loader" [ngClass]="{'close-loader': !loader}">
    <img src="../assets/ferxxo.png" alt="">
</div>
<div class="cont-ws" *ngIf="isReady && !loader">
    <div class="info-bar">
        <div>19:19</div>
        <div>
            <img class="status-bar" src="../assets/status-bar.png" alt="">
        </div>
    </div>
    <div class="header">
        <div class="bg-profile-img" (click)="openProfile = !openProfile">
            <div class="profile-img"></div>
        </div>
        <div class="bg-profile-2" [ngClass]="{'bg-profile-open': openProfile}" (click)="openProfile = !openProfile">
            <div class="profile-2"></div>
        </div>
        <div class="profile-data">
            <p>Feliz Cumpleaños Valeria</p>
            <span>online</span>
        </div>
    </div>
    <div class="cont-msg">
        <br>
        <div class="msg-sender">
            <div class="direction"></div>
            <div class="msg-cont">
                🎂 🎉 Feliz Cumpleaños VALERIA 🎉 🎂
                <div class="msg-hour">19:02 p.m.</div>
            </div>
        </div>
        <div class="msg-sender">
            <div class="direction"></div>
            <div class="msg-cont">
                Te pirateamos el álbum
                <div class="msg-hour">19:07 p.m.</div>
            </div>
        </div>
        <div class="msg-sender">
            <div class="direction"></div>
            <div class="msg-cont">
                <div class="audio-cont">
                    <div class="audio-ico">
                        <img src="../assets/audio.svg" alt="">
                    </div>
                    <audio src="../assets/audio.mp3" autoplay controls loop></audio>
                </div>
            </div>
        </div>
        <div class="msg-sender">
            <div class="direction"></div>
            <div class="msg-cont">
                Te invito a mi fiesta el 6 de Mayo en <a href="https://goo.gl/maps/o4UWJVDxt18NuwKb7" target="_blank">10210 Stratford Point ave 
                Orlando FL 32832</a> a las 8pm
                <div class="msg-hour">19:07 p.m.</div>
            </div>
        </div>
        <div class="msg-sender">
            <div class="direction"></div>
            <div class="msg-cont">
                LLÉGATE MOR! 💋💋💋
                <div class="msg-hour">19:07 p.m.</div>
            </div>
        </div>
    </div>
    <div class="cont-msg-box">
        <input type="text" [value]="message" class="message">
        <a href="https://api.whatsapp.com/send?phone=14076277174&text={{message}}">
            <button class="btn-send">
                <img src="../assets/send.svg" alt="">
            </button>
        </a>
    </div>
</div>

